
@font-face {
  font-family: "ygoBold";
  src: url("./assets/fonts/ygoBold.ttf");
}

.ygoBold{
  font-family: 'ygoBold' !important;
}

@font-face {
  font-family: "ygoItalic";
  src: url("./assets/fonts/ygoItalic.ttf");
}
.ygoItalic{
  font-family: "ygoItalic" !important;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
